// Copyright 2024, Salyvn.
// SPDX-License-Identifier: Apache-2.0

.notification-bubbles {
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
}
