// Copyright 2024, Salyvn.
// SPDX-License-Identifier: Apache-2.0

.centered-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
